{% extends 'base.html' %}

{% block title %}{% if object %}Kontakt bearbeiten{% else %}Neuen Kontakt hinzufügen{% endif %} - Mein CRM{% endblock %}

{% block page_title %}{% if object %}Kontakt bearbeiten: {{ object }}{% else %}Neuen Kontakt hinzufügen{% endif %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Einfachste Formular-Darstellung #}
        <button type="submit">Speichern</button>
        <a href="{% if object %}{% url 'customers:contact_detail' pk=object.pk %}{% else %}{% url 'customers:contact_list' %}{% endif %}">Abbrechen</a>
    </form>
{% endblock %}