{% extends 'base.html' %}

{% block title %}{% if object %}Aktivität bearbeiten{% else %}Neue Aktivität hinzufügen{% endif %} - Mein CRM{% endblock %}

{% block page_title %}{% if object %}Aktivität bearbeiten: {{ object.subject }}{% else %}Neue Aktivität hinzufügen{% endif %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Speichern</button>
        <a href="{% if object %}{% url 'activities:activity_detail' pk=object.pk %}{% else %}{% url 'activities:activity_list' %}{% endif %}">Abbrechen</a>
    </form>
{% endblock %}